header {
  padding: 1.1rem 0;
  background: #0b2441;
  color: #fff;
}

.logo-container {
  gap: 8px;
}

.logo-container img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

header ul {
  gap: 1rem;
}

header li a:hover {
  text-decoration: underline;
}

header nav .active {
  color: aqua;
}

header h4 {
  font-size: 1.5rem;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
