.popular-classes-container {
  margin: 120px 0;
}

.top-classes-header {
  text-align: center;
  margin-block-end: 3rem;
}

.popular-classes-container .tab-container {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 5px solid #126ed722;
  margin: 0 auto;
  position: relative;
}

.popular-classes-container .tab-container .under {
  position: absolute;
  width: calc(100% / 4);
  bottom: -4px;
  left: 0px;
  height: 5px;
  background: #126ed7c9;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.popular-classes-container .tab-container button {
  width: calc(100% / 4);
  text-align: center;
  background: transparent;
  border: 0;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
  padding: 1rem 0;
  transition: all 300ms;
  font-weight: 500;
  /* color: #1976D3; */
}

.popular-classes-container .tab-container button:hover {
  background: #0e71e20f;
}

.popular-classes-container .tab-container button.active {
  background: #126ed722;
  color: #1976D3;
}

.popular-classes-container .card-container {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

/* .popular-classes-container .card.no-seats {
  background: rgba(241, 6, 6, 0.168);
} */

/* .popular-classes-container .card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.popular-classes-container .price-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-classes-container .price-category span {
  color: #747c82;
  margin: 8px 0;
  font-size: 16px;
}

.popular-classes-container .price-category span:last-child {
  color: #000;
  font-weight: bold;
}

.popular-classes-container .card h4 {
  color: #465159;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.popular-classes-container .card h6 {
  color: #747c82;
  margin-bottom: 1.3rem;
  font-size: 0.9rem;
  font-weight: normal;
}

.popular-classes-container .card .hrs-learners {
  color: #747c82;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.hrs-learners p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.popular-classes-container .card .btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
} */

@media (max-width: 768px) {
  .popular-classes-container .tab-overflow {
    width: 100%;
    overflow-x: auto;
  }
  .popular-classes-container .tab-container {
    width: 650px;
  }
}
