.testimonials {
  margin: 120px 0;
}

.testimonial {
  height: 50vh;
  display: flex;
  border: 1px solid;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: #272c32;
  color: #fff;
  max-width: 1100px;
  margin: 0 auto;

  transform: perspective(750px) translate3d(0px, 0px, -50px) rotateX(15deg)
    scale(0.9, 0.9);
  transition: 600ms ease-in-out transform;
}

.testimonial-header {
  /* border: 1px solid; */
  text-align: center;
  margin-block-end: 2rem;
}
.testimonial-header p {
  font-size: 1.1rem;
  margin-block-start: 0.5rem;
}

.testimonial:hover {
  transform: translate3d(0px, 0px, -250px);
}

.testimonial .quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.testimonial .quote > p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 60ch;
}

.testimonial span {
  color: #a2acb7;
  font-size: 15px;
}

.testimonial img {
  height: auto;
  max-width: 320px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

@media (max-width: 768px) {
  .testimonial .quote {
    padding: 2rem;
  }
  .testimonial img {
    max-width: 220px;
  }
}

@media (max-width: 576px) {
  .testimonial {
    height: auto;
    flex-direction: column;
    border-radius: 1rem;
  }
  .testimonial img {
    min-width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
  }
}
