.all-classes-container {
  margin: 150px 0 120px 0;
}

.all-classes-section-title-wrapper{
  display: flex;
  justify-content: space-between;
}
 .all-classes-section-title {
  text-align: start;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 500;
}

.all-classes-section-title > span{
  font-size: 1rem;
}

.all-classes-container .all-classes {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.all-classes-container .card.no-seats{
    background: rgba(241, 6, 6, 0.168);
}

.all-classes-container .card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.all-classes-container .price-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-classes-container .price-category span {
  color: #747c82;
  margin: 8px 0;
  font-size: 16px;
}

.all-classes-container .price-category span:last-child {
  color: #000;
  font-weight: bold;
}

.all-classes-container .card h4 {
  color: #465159;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.all-classes-container .card h6 {
  color: #747c82;
  margin-bottom: 1.3rem;
  font-size: 0.9rem;
  font-weight: normal;
}

.all-classes-container .card .hrs-learners {
  color: #747c82;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.hrs-learners p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.all-classes-container .card .btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
