:root {
  --fs-sm: 0.9rem;
  --fs-normal: 1.1rem;
  --fs-lg: 4rem;
  --color-gray: #d1d5db;
  --color-dark-gray: #6b7280;
  --gradient-pink-to-cyan: linear-gradient(
    180deg,
    hsl(329deg 86% 70%) 0%,
    hsl(312deg 67% 70%) 19%,
    hsl(286deg 66% 73%) 34%,
    hsl(258deg 88% 79%) 46%,
    hsl(232deg 100% 80%) 56%,
    hsl(214deg 100% 74%) 65%,
    hsl(203deg 100% 67%) 73%,
    hsl(196deg 100% 59%) 82%,
    hsl(192deg 96% 52%) 90%,
    hsl(188deg 86% 53%) 100%
  );
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* lenis recommended */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
/*  */

ul {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.center-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 0.6rem;
}

button {
  font: inherit;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2.5rem;
  }
}

.swiper-button-prev {
  width: 50px !important;
  height: 50px !important;
  background: #0b2441;
  border-radius: 50%;
  color: #fff !important;
}

.swiper-button-prev::after {
  font-size: 30px;
}

.swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  background: #0b2441;
  border-radius: 50%;
  color: #fff !important;
}

.swiper-button-next::after {
  font-size: 30px;
}

.btn-primary,
.btn-secondary {
  background: transparent;
  border: 0;
  padding: 0.8rem 1.4rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms;
  text-transform: uppercase;
}

.btn-primary {
  background: #126ed7c9;
  color: #fff;
}

.btn-secondary {
  border: 1px solid #126ed7c9;
}

.btn-primary:hover {
  background: #0e63c5e6;
  transform: scale(0.98);
}

.btn-secondary:hover {
  border: 1px solid #0e63c5e6;
  color: #126ed7;
  transform: scale(0.98);
}

.button-secondary {
  background-color: transparent;
  border: none;
  margin-block-start: 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  isolation: isolate;
  transition: color 300ms;
}

.button-secondary::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 5px;
  background-color: #1e79d3;
  transition: height 300ms;
}

.button-secondary:hover,
.button-secondary:hover::before {
  height: 100%;
  color: #fff;
}
