*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.center-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 0.6rem;
}

button {
  font: inherit;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 900;
  color: #0b2441;
}

.swiper-button-prev {
  width: 50px !important;
  height: 50px !important;
  background: #0b2441;
  border-radius: 50%;
  color: #fff !important;
}

.swiper-button-prev::after {
  font-size: 30px;
}

.swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  background: #0b2441;
  border-radius: 50%;
  color: #fff !important;
}

.swiper-button-next::after {
  font-size: 30px;
}
