*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.center-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 0.6rem;
}

button {
  font: inherit;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 900;
  color: #0b2441;
}

.swiper-button-prev {
  width: 50px !important;
  height: 50px !important;
  background: #0b2441;
  border-radius: 50%;
  color: #fff !important;
}

.swiper-button-prev::after {
  font-size: 30px;
}

.swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  background: #0b2441;
  border-radius: 50%;
  color: #fff !important;
}

.swiper-button-next::after {
  font-size: 30px;
}

.btn-primary,
.btn-secondary {
  background: transparent;
  border: 0;
  padding: 0.8rem 1.4rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms;
}

.btn-primary {
  background: #126ed7c9;
  color: #fff;
}

.btn-secondary {
  border: 1px solid #126ed7c9;
}

.btn-primary:hover {
  background: #0e63c5e6;
  transform: scale(0.98);
}

.btn-secondary:hover {
  border: 1px solid #0e63c5e6;
  color: #126ed7;
  transform: scale(0.98);
}
