.stat-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 80px;
}

.stat-container .item {
  background: #0771ea1e;
  padding: 2rem;
  border-radius: 4px;
  border-left: 5px solid #126ed7c9;
}

.stat-container h5 {
  font-size: 2rem;
  color: #126ed7c9;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.stat-container p {
  color: #000000a4;
}
