.stat-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 80px;
  /* border: 1px solid; */
  position: relative;
  /* isolation: isolate; */
}

/* .stat-container::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 800px;
  height: 800px;
  background: radial-gradient(
    circle,
    rgba(56, 191, 248, 0.3) 0,
    hsla(0, 0%, 100%, 0) 70%,
    hsla(0, 0%, 100%, 0) 100%
  );
  transform: translate3D(60%, -40%, 0);
} */

.stat-container .item {
  background-color: #0771ea1e;
  padding: 2rem;
  border-radius: 4px;
  border-left: 5px solid #1565C0;
}

.stat-container h5 {
  font-size: 2rem;
  color: #126ed7c9;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.stat-container p {
  color: #000000a4;
}
